@charset "utf-8";
//主色
$MAIN: #C88CAF;
$MAIN_RIGHT_A:#967488;
$MAIN_RIGHT_B:#822E5F;
$MAIN_LEFT_A:#E3B1CE;
$MAIN_LEFT_B:#E3BED4;
//辅助色 A
$COlD_ASSIST:#00BD39;
$COlD_ASSIST_RIGHT_A:#238D43;
$COlD_ASSIST_RIGHT_B:#007B25;
$COlD_ASSIST_LEFT_A:#37DE6A;
$COlD_ASSIST_LEFT_B:#64DE89;
//辅助色 B
$WARM_ASSIST:#B7F200;
$WARM_ASSIST_RIGHT_A:#94B62D;
$WARM_ASSIST_RIGHT_B:#779E00;
$WARM_ASSIST_LEFT_A:#CBF93E;
$WARM_ASSIST_LEFT_B:#D7F970;